*{
    margin: 0;
    padding: 0;
}
#h1{
    color: rgb(162, 207, 192);
    font-size: 3rem;
}

body{
    background-color: rgb(161, 239, 213);
    text-align: center;
    background-image: url("seenu.jpg");
}
.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 2rem;
    border: none;
    background-color: rgb(93, 198, 198);
    font-size: 3rem;
    cursor: pointer;
}
.reset-btn{
    padding: 15px;
    font-size: 1.5rem;
    background-color: aqua;
    border-radius: 0.5rem;
    cursor: pointer;
}
.new-btn{
    padding: 15px;
    font-size: 1.5rem;
    background-color: rgb(0, 170, 255);
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 3vh;
}
#msg{
    font-size: 3rem;
    margin-top: 5vh;

}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

}
.hide{
    display: none;
}